body {
background-color: #C4FEC8;
}
h1 {
color: #4A4A4A;
font-family: verdana;
font-size: 300%;
text-align: center;
}
h2 {
color: #4A4A4A;
font-family: verdana;
font-size: 120%;
text-align: center;
}
p {
color: #8A8A8A;
font-family: verdana;
}